* {
    box-sizing: border-box;
}
body{
    width: 1440px;
    display: block;
    margin: 0 auto;
    font-family: "Wermut";
}
.section-1 {
    display: flex;
}
.section-1 img{
    width: 1500.6 px;
}